.review-card {
  font-size: 1.1rem;
  position: relative;
  width: 350px;
  height: auto;
  transform: all 0.4s;
  margin: 25px;
}

.part1 {
  background-color: #fff;
  border-radius: 25px 25px 0 0;
  padding: 20px 20px 90px 20px;
}

.part1 img,
.part1 p {
  background: transparent;
}

.part1 img {
  margin: 20px 0 40px 0;
}

.part2 {
  background: #7a53fc;
  border-radius: 0 0 25px 25px;
}

.part2 img,
.part2 p,
.part2 .review-social-icons {
  background: transparent;
}

.part2 img {
  border-radius: 50%;
  transition: all 0.4s;
  transform: translateY(-50%);
}

.part2 p {
  transform: translateY(-190%);
}

.review-social-icons {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.user-review img {
  background: transparent;
  transition: all 0.4s;
  border-radius: 50%;
}

.social-icon {
  background: transparent;
  color: #fff;
}

.review-card .part2 {
  text-align: center;
}

.part2 {
  width: 100%;
  height: 40%;
}

/* Responsive styles */
@media (max-width: 720px) {
  .review-card {
    font-size: 1rem;
    position: relative;
    width: 250px;
    height: auto;
    transform: all 0.4s;
    margin: 15px;
  }

  .part1 {
    padding: 10px 10px 45px 10px;
  }

  .part1 img {
    margin: 10px 0 40px 0;
  }

  .part2 {
    background: #7a53fc;
    border-radius: 0 0 12.5px 12.5px;
  }

  .part2 img {
    width: 30%;
  }

  .review-social-icons {
    margin: 10px 40px;
  }
}
